<div class="chat-container">
    <div class="messages-container">
      <mat-list>
        <mat-list-item *ngFor="let m of messages">
          <div mat-line class="message-body">{{ m.username }}: {{ m.message }}</div>
        </mat-list-item>
      </mat-list>
    </div>
  
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Type your message</mat-label>
        <input matInput [(ngModel)]="newMessage" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>